[Desktop Entry]
Version=1.0
Type=Application
Name=GPU Passthrough Manager
Comment=GPU passthrough made easy.
Exec=gpu-passthrough-manager
Icon=/usr/share/gpu-passthrough-manager/icons/GPUPM.png
Path=
Terminal=false
StartupNotify=false
